.blur {
    background-image: url("../src/assets/images/bg.jpg");
    background-size: cover;
    position: absolute;
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    top: -20px;
    left: -20px;
    filter: blur(3px);
    background-repeat: no-repeat;
    z-index: 0;
}

.container {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    display: flex;
    overflow: hidden;
}

.container--login .MuiCardActions-root {
    justify-content: center;
}

.card--login {
    width: 350px;
    height: 300px;
    padding: 18px 24px;
    margin: 30vh auto 0;
    z-index: 2;
    text-align: center;
}

.card--login__button--login {
    margin: auto 0;
}

#root .MuiCardActions-root {
    display: block;
}

.main--content {
    padding-top: 100px;
}

#root .MuiAppBar-colorPrimary {
    background-color: white;
    color: black;
}

.user--data{
    padding-bottom: 4%;
}