# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Adam\OE\7. félév\Nagyvállalati szoftverfejlesztés agilis módszertannal\coding\imagehub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
